html, body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.formWrapper {
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
}

a, header {color: black}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: black;
}

.menu-center {
    display: flex;
    gap: 20px;
}

.menu-center a,
.menu-right a, .menu-toggle a, .mobile-menu a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}

.menu-right .user-icon img {
    width: 24px;
    height: 24px;
}
.user-icon {
    display: flex;align-items: center;gap: 10px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: relative;
    width: 25px;
    height: 18px;
}

.menu-toggle span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000000;
    transition: all 0.3s ease-in-out;
}

.menu-toggle.active span:nth-child(1) {
    transform: translateY(7.5px) rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    transform: translateY(-7.5px) rotate(-45deg);
}

.mobile-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

@media (max-width: 960px) {
    .menu-center,
    .menu-right {
        display: none;
    }
    .menu-toggle {
        display: flex;
    }
}

@media (max-width: 960px) {
    .mobile-menu.active {
        display: flex;
    }
}

.header {
    color: black;
    padding: 15px;
    text-align: left;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}
.job-listing {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.job-listing h3 {
    margin: 0;
    color: #333;
}
.job-listing p {
    margin: 10px 0;
    color: #555;
}
.job-listing .salary {
    color: #007bff;
    font-weight: bold;
}
.job-listing button {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border-radius: 15px;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 10px;
    transition: scale 0.2s ease;
}
.job-listing button:hover {
    scale: 1.03;
}

.search-bar {
    display: flex;
    margin-bottom: 20px;
}
.search-bar input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
}
.search-bar button {
    padding: 10px 15px;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: scale 0.2s ease;
    border: 1px solid #007bff;
}
.search-bar button:hover {
    scale: 1.03;
}